.puzzle {
  margin: 40px;
  background: #cecece;
  position: relative;
  background-image: url(../assets/monks.jpg);
  width: 500px;
  height: 500px;
  background-blend-mode: overlay;
}

.preview {
  position: absolute;
  top: 40px;
  right: 40px;
}

.congrats {
  text-align: center;
  padding: 20px;
  font-size: 40px;
}
