.app {
  background-image: url(../assets/smoke.jpg);
  padding: 40px;
  height: calc(100vh - 80px);
  background-size: cover;
}

.puzzle {
  background: #cecece;
  position: relative;
  background-image: url(../assets/image.jpg);
  width: 500px;
  height: 500px;
  background-blend-mode: overlay;
  box-shadow: 0 0 20px #000;
  transition: all 1s ease;
}

.puzzle.game-over {
  background-color: transparent;
}

.congrats {
  text-align: center;
  padding: 8px;
  font-size: 16px;
  color: white;
  background: rgba(0,0,0,.5);
}

.footer {
  color: #807e7e;
  font-size: 10px;
  margin-top: 38px;
}

.footer a {
  color: #807e7e;
}
