.piece {
  background-image: url(../assets/image.jpg);
  position: absolute;
  border: 1px solid #000;
  cursor: pointer;
  transition: all .5s ease;
}

.piece:hover {
  border-style: dashed;
  border-color: white;
  z-index: 1;
}

.piece span {
  position: absolute;
  top: 5px;
  right: 5px;
  color: white;
  font-size: 12px;
  text-shadow: 1px 1px 0 #000;
}
