.piece {
  background-image: url(../assets/monks.jpg);
  position: absolute;
  border: 1px solid #fff;
  cursor: pointer;
  transition: all .5s ease-out;
}

.piece span {
  position: absolute;
  top: 5px;
  right: 5px;
  color: white;
  font-size: 12px;
}
