.App {

}

.puzzle {
  margin: 40px;
  background: #cecece;
  position: relative;
}

.one {
  top: 0;
  left: 0;
}

.two {
  top: 0;
  left: 125px;
}

.three {
  top: 0;
  left: 250px;
}

.four {
  top: 0px;
  left: 375px;
}

.five {
  top: 125px;
  left: 0;
}

.six {
  top: 125px;
  left: 125px;
}

.seven {
  top: 125px;
  left: 250px;
}

.eight {
  top: 125px;
  left: 375px;
}

.nine {
  top: 250px;
  left: 0;
}

.ten {
  top: 250px;
  left: 125px;
}

.eleven {
  top: 250px;
  left: 250px;
}

.twelve {
  top: 250px;
  left: 375px;
}

.thirteen {
  top: 375px;
  left: 0;
}

.fourteen {
  top: 375px;
  left: 125px;
}

.fifteen {
  top: 375px;
  left: 250px;
}

.sixteen {
  top: 375px;
  left: 375px;
}

.preview {
  position: absolute;
  right: 40px;
}
