.App {

}

.puzzle {
  margin: 40px;
  background: #cecece;
  position: relative;
}

.piece {
  background-image: url(./monks.jpg);
  width: 165px;
  height: 165px;
  position: absolute;
  border: 1px solid #fff;
}

.one {
  top: 0;
  left: 0;
}

.two {
  top: 0;
  left: 165px;
}

.three {
  top: 0;
  left: 330px;
}

.four {
  top: 165px;
  left: 0;
}

.five {
  top: 165px;
  left: 165px;
}

.six {
  top: 165px;
  left: 330px;
}

.seven {
  top: 330px;
  left: 0;
}

.eight {
  top: 330px;
  left: 165px;
}

.nine {
  top: 330px;
  left: 330px;
}

.preview {
  position: absolute;
  right: 40px;
}
